.u-object-contain {
  object-fit: contain !important;
}

.u-object-cover {
  object-fit: cover !important;
}

.u-object-fill {
  object-fit: fill !important;
}

.u-object-none {
  object-fit: none !important;
}

.u-object-scale-down {
  object-fit: scale-down !important;
}

.u-object-bottom {
  object-position: bottom !important;
}

.u-object-center {
  object-position: center !important;
}

.u-object-left {
  object-position: left !important;
}

.u-object-left-bottom {
  object-position: left bottom !important;
}

.u-object-left-top {
  object-position: left top !important;
}

.u-object-right {
  object-position: right !important;
}

.u-object-right-bottom {
  object-position: right bottom !important;
}

.u-object-right-top {
  object-position: right top !important;
}

.u-object-top {
  object-position: top !important;
}
