.c-button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 160px;
	padding-top: 0;
	padding-right: $spacer-6;
	padding-bottom: 0;
	padding-left: $spacer-6;
	font-size: rem(16px);
	font-weight: $font-weight-bold;
	line-height: 42px;
	color: get-color(text, darkest);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: get-color(bg, lightest);
	border: none;
}
